        </div> <!-- #page-wrapper -->

        <div class="wrapper bg-dark text-white navbar-dark" id="wrapper-footer">
            
            <div class="container">

                <footer class="site-footer" id="colophon">

                    <div class="site-info">
                        
                        <div class="row">

                            <div class="col-md-3">

                                <div class="footer-widget widget_block">

                                    <div class="text-center text-md-left">
                                        
                                        <div class="wp-block-group__inner-container">
                                   
                                            <p>
                                                Felipe Sanclemente, 6-8<br>
                                                planta 5ª, puerta B, oficina 15<br>
                                                50001 Zaragoza
                                            </p>
                                    
                                            <p>
                                                <a href="tel:0034876006180"><strong>876 00 61 80</strong></a> / <a href="tel:0034661842875"><strong>661 84 28 75</strong></a><br>
                                                <a href="mailto:informacion@aessia.org"><strong>informacion@aessia.org</strong></a>
                                            </p>
                                    
                                            <div class="redes-sociales px-0 navbar navbar-expand">

                                                <div class="navbar-nav">
                                                    <a href="https://www.linkedin.com/company/aessia/" target="_blank" rel="nofollow" title="Abrir linkedin en otra pestaña">
                                                        <span class="red-social nav-link linkedin fa fa-linkedin"></span>
                                                    </a>
                                                    <a href="https://twitter.com/aessia_aragon" target="_blank" rel="nofollow" title="Abrir twitter en otra pestaña">
                                                        <span class="red-social nav-link twitter fa fa-twitter"></span>
                                                    </a>
                                                    <a href="https://www.youtube.com/channel/UCsj2f-Y0-dL0tfu0bHX7fJw/videos" target="_blank" rel="nofollow" title="Abrir youtube en otra pestaña">
                                                        <span class="red-social nav-link youtube fa fa-youtube"></span>
                                                    </a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-9"><nav class="navbar-expand"><div id="navbarLegal" class="collapse navbar-collapse"><ul id="legal-menu" class="navbar-nav flex-wrap mx-auto mr-md-0"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16 nav-item"><a title="Aviso legal" href="https://www.aessia.org/aviso-legal/" class="nav-link">Aviso legal</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2488" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2488 nav-item"><a title="Accesibilidad" href="https://www.aessia.org/accesibilidad/" class="nav-link">Accesibilidad</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-50 nav-item"><a title="Política de privacidad" href="https://www.aessia.org/politica-de-privacidad/" class="nav-link">Política de privacidad</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-9986" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9986 nav-item"><a title="Política de cookies" href="https://www.aessia.org/politica-cookies/" class="nav-link">Política de cookies</a></li>
                                </ul></div></nav>
                            </div>

                        </div>

                    </div>

                </footer>

            </div>

        </div>

    </div> <!-- #page -->

</body>

</html>